# fly.toml app configuration file generated for strava-trends on 2026-02-10T00:25:09-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'strava-trends'
primary_region = 'sjc'

[build]
  dockerfile = 'server/Dockerfile'

[env]
  DB_PATH = '/data/tokens.db'
  PORT = '3001'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpus = 1
  memory_mb = 256
